body {
    background-color: white;
}

#logo {
    height: 100px;
    width: 150px;
    
}

header {
    height: 10%;
    background-color: white;
    padding: 0;
    margin: 0;
}


/*  --------------- Navbar Styling */

.navbar-light .navbar-nav .nav-link {
    color: rgb(47 47 47 / 80%);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #000;
}



/*  --------------- Hero Styling */

#hero-text {
    color: white;
    margin-top: 40px;
    font-size: 50px;
    text-shadow: 2px 2px 3px #1b1a1a;
}

#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: url("../images/home-image.jpeg") no-repeat center center;
    background-size: cover;
    /* animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;  */
}


  #hero-overlay {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
  }

.hero-btn-container {
    margin-top: 40px;
}


#hero-btn-quote {
    height: 60px;
    width: 120px;
    font-size: 18px;
    border-radius: 10px;
    border: solid 1px rgb(46, 46, 46);
    background-color: #B89F91
}

#hero-btn-services {
    height: 60px;
    width: 120px;
    font-size: 18px;
    border-radius: 10px;
    border: solid 1px rgb(46, 46, 46);
    background-color: #DCA518;
}

@media (min-width: 576px) {
    .float-left-md {
      float: left;
    }
  }

 @media (max-width: 768px) {
      #hero-text {
        font-size: 47px;
    }
 }

  @media (max-width: 992px) {
      #hero-text {
        font-size: 48px;
    }
 }

  @media (max-width: 576px) {
    #hero-btn-services, #hero-btn-quote {
        height: 45px;
        width: 140px;
    }
      #hero-text {
        font-size: 46px;
        text-align: center;
    }
  }

 @media (max-width: 420px) {
      #hero-text {
        font-size: 40px;
    }
 }

